@import url('https://fonts.googleapis.com/css?family=Fira+Code|Francois+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    /* background-image: linear-gradient(160deg, rgb(0, 4, 255), rgb(33, 164, 224));
    color: #fff; */
    font-family: 'Francois One', sans-serif;
    /* font-family: 'Fira Code', monospace; */
}

.App {
    display: grid;
    justify-content: center;
}