.Forecast {
  margin-top: 1em;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.day {
  /* min-width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: .5em;
  padding: .5em;
  border-radius: 15px;
  box-shadow: 2px 2px 10px -5px var(--clr-primary);
}

.day__weatherCond {
  margin: 1em 0;
}

.day__weatherCond img {
}

.day__minmax {
  display: flex;
  justify-content: center;
}

.day__minmax__min, .day__minmax__max {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.day__minmax__min {
  margin-left: 0;
}

.day__minmax__max {
  margin-right: 0;
}

.day__minmax svg {
  width: 15px;
  margin: 0 10px;
}

.tempMin {
  color: #4e5ff7;
}

.tempMax {
  color: #f74e4e;
}