.Results {
  /* font-family: 'Fira Code', monospace; */
  margin-top: 2em; 
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 1em;
}

.Results h2 {
  justify-self: center;
}

.mainTemp {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "icon temp";
}

.mainTemp svg {
  width: 150px;
  height: auto;
  padding: 1em;
}

.mainTemp__icon {
  grid-area: icon;
}

.mainTemp__temp {
  grid-area: temp;
  font-size: 3em;
}

.mainTemp__cond {
  grid-column: 1 / -1;
}


.moreInfo {

}

.wind-direction {
  width: 50px;
  height: auto;
}

.wind-arrow {
  fill: currentColor;
}

.More {
  width: 50px;
  height: auto;
  justify-self: center;
}

.More circle {
  fill: var(--clr-primary);
}